@font-face {
    font-family: 'ComputerCraft';
    src: url('fonts/ComputerCraft.woff2') format('woff2'),
    url('fonts/ComputerCraft.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

code {
    font-family: ComputerCraft, monospace;
}

.wy-side-nav-search {
    background-color: #d2651d;
}

.wy-side-nav-search input[type="text"] {
    border-color: #d96b25;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #e78e53;
}

.section > h1 > img {
    max-width: 15%;
}


.rst-content img {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    width: 50px;
}